{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- student_dashboard.html content starts here -->

<section id="dashboard-intro">
    <div id="dashboard-intro-text">
        <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
        <br>
        <p>Your username: {{ user.username }}</p>
    </div>
</section>

<div class="container mt-5">
    <div class="row g-4">
        <!-- Place an Order -->
        <div class="col-md-6">
            <div class="dashboard-section p-4">
                <h4>Place an Order</h4>
                <p>Choose meals from the weekly menu.</p>
                <a href="#" class="btn btn-primary">Order Now</a>
            </div>
        </div>
        <!-- View Past Orders -->
        <div class="col-md-6">
            <div class="dashboard-section p-4">
                <h4>View Past Orders</h4>
                <p>Review your previous meal selections.</p>
                <a href="#" class="btn btn-success">View Orders</a>
            </div>
        </div>
        <!-- Update User Profile -->
        <div class="col-md-6">
            <div class="dashboard-section p-4">
                <h4>Update Profile</h4>
                <p>Edit your personal details.</p>
                <a href="#" class="btn btn-warning">Update Info</a>
            </div>
        </div>
        <!-- Send Feedback/Message -->
        <div class="col-md-6">
            <div class="dashboard-section p-4">
                <h4>Send Feedback</h4>
                <p>Let us know your thoughts.</p>
                <a href="#" class="btn btn-danger">Give Feedback</a>
            </div>
        </div>
    </div>
</div>

<!-- student_dashboard.html content ends here -->
{% endblock %}