{% extends 'base.html' %}

{% block content %}
<div class="registration_block center mx-auto pt-5">
    <h1><i class="fa-solid fa-utensils"></i> Create Menu Week</h1>
    <br>
    <form method="post">
    {% csrf_token %}

    <fieldset class="mt-5">
        <legend><strong>Menu Week</strong></legend>
        <div class="d-flex justify-content-center">
            <div class="w-25">
                <label for="id_start_date">Start Date:</label>
                {{ menu_form.start_date }}
            </div>
        </div>
    </fieldset>

    <br><hr>

    <fieldset class="mt-3">
        <legend><strong>Enter Meals</strong></legend>

        <div id="meal-formset">
            {{ meal_formset.management_form }}
        
            {% for form in meal_formset %}
                <div class="meal-form pt-3">
                    {{ form.as_p }}
                    <hr class="mx-4">
                </div>
            {% endfor %}
        </div>
        <button id="add-meal" class = "btn-secondary btn-lg" type="button">Add Another Meal</button>
    </fieldset>

    <button class="mt-5 btn-primary btn-lg" type="submit">Save Menu</button>
    </form>
</div>
{% endblock %}