{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- about.html content starts here -->
<div class="container py-5 transparent-box">

    <!-- Section Heading -->
    <div class="text-center mb-4">
        <h1 class="fw-bold">About Our Meal Services</h1>
        <h3 class="fw-bold text-center">Full Meal Plan - Breakfast, Lunch & Dinner - Only $28/day</h3>
    </div>

    <!-- Food Gallery Grid -->
    <div class="row g-4">
        <div class="col-md-4">
            <img src="{% static 'images/steak.webp' %}" alt="Steak Dish" class="img-fluid rounded shadow fixed-image">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/salad.webp' %}" alt="Salad Dish" class="img-fluid rounded shadow fixed-image">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/chicken.webp' %}" alt="Chicken Dish" class="img-fluid rounded shadow fixed-image">
        </div>
    </div>
    <br>
    <div class="row g-4">
        <div class="col-md-4">
            <img src="{% static 'images/muffin.webp' %}" alt="Muffin" class="img-fluid rounded shadow fixed-image">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/parfait.webp' %}" alt="Parfait" class="img-fluid rounded shadow fixed-image">
        </div>
        <div class="col-md-4">
            <img src="{% static 'images/omelette.webp' %}" alt="Omelette Dish" class="img-fluid rounded shadow fixed-image">
        </div>
    </div>

    <div class="mt-4">
        <p class="text-dark text-center">We focus on well-balanced meals that provide essential nutrients and energy for your busy day. 
            Our daily menu includes fresh, wholesome ingredients with both regular and plant-based options.</p>
        <p class="text-dark text-center mt-2">Delicious and Nutritious meals are prepared by our team of culinary experts and delivered directly to your child's dormoritory.</p>
        <p class="text-dark text-center mt-2">Once you sign up for a meal plan, you will need to register for an account for your child.</p>
        <p class="text-dark text-center">Each week a new menu is posted for the following week. Your child will simply need to log in and make their selections from the current menu.</p>
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'sample_menu' %}" 
           class="btn btn-primary {% if request.path == sample_menu %}active{% endif %}">
           View Sample Menu
        </a>
    </div>

</div>

<!-- about.html content ends here -->
{% endblock %}