{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container text-center mt-4">
    <h2>Sample Menu</h2>
    
        {% for day, meals in menu_data.items %}
        <div class="mb-4">
            <div class="card shadow-sm rounded">
                <div class="card-header bg-dark text-white">
                    <h3 class="mb-0">{{ day }}</h3>
                </div>
                <div class="card-body">
            
                    <!-- Loop through data in menu_data.py file -->
                    {% for meal_type, items in meals.items %}
                    <div class="card bg-light shadow-sm mb-3">
                        <div class="card-header bg-light text-dark">
                            <h4 class="mt-3 text-dark">{{ meal_type }}</h4>
                            {% for item in items %}
                            <div class="d-flex flex-column align-items-center">
                                <label class="fs-5">{{ item.name }}
                                    {% if item.plant_based %}
                                    <span class="badge bg-secondary">Plant-Based</span>
                                    {% endif %}
                                </label>
                                <p class="fs-6 text-muted">{{ item.description }}</p>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
</div>
                        

{% endblock %}