{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- index.html content starts here -->
 <!-- Main Content -->
 <body>
    <div class="menu">
        <div class="day">
            <h2>Monday 9/16</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p class="options">Chocolate Oats ___</p>
                <p class="options">Plain Oats ___</p>
                <p>Served with Mini Chocolate Chips & Protein Bar</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p>Cobb Salad</p>
                <p class="options">Egg, Avocado, Tomato, Red Onion, Ranch Dressing</p>
                <p class="options">Add Grilled Chicken & Bacon ___</p>
                <p class="options">Add Plant-Based Chicken & Vegan Bacon ___</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p class="options">Eggplant Parmesan ___</p>
                <p class="options">Chicken Parmesan ___</p>
                <p>Served with Broccoli & Dinner Roll</p>
            </div>
        </div>
        
        <div class="day">
            <h2>Tuesday 9/17</h2>
            <div class="meal">
                <h3>Breakfast</h3>
                <p class="options">Spinach & Cheese Omelette, Sausage Links & Hash Browns ___</p>
                <p class="options">Vegan Spinach & Cheese Omelette, Vegan Sausage & Hash Browns ___</p>
                <p>Served with a Fruit Cup</p>
            </div>
            <div class="meal">
                <h3>Lunch</h3>
                <p class="options">Tuna Salad Wrap ___</p>
                <p class="options">Plant-Based Tuna Salad Wrap ___</p>
                <p>Served with a Side Salad</p>
            </div>
            <div class="meal">
                <h3>Dinner</h3>
                <p class="options">Meatloaf ___</p>
                <p class="options">Plant-Based Meatloaf ___</p>
                <p>Served with Mashed Potatoes & Glazed Carrots</p>
            </div>
        </div>
<!-- index.html content ends here -->
{% endblock %}