/* General Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.hidden-heading {
    display: none;
}

body {
    background: url("/static/images/background.webp") no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Full viewport height */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    position: fixed;
    font-size: 120%;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

main {
    margin-top: 106px;
    margin-bottom: 10px;
}

#alert-message {
    text-align: center;
}

/* Index.Html Styles */
#hero {
    background: url('/static/images/hero.webp') no-repeat center center / cover;
    width: 100%;
    position: relative;
    height: 400px;
}

#hero-cover-text {
    /* final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 100%;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 10px;
}

#menu-button {
    display: inline-block;
    background-color: rgb(255, 230, 3);
    color: rgb(0, 0, 0);
    border: solid 3px rgb(255, 230, 3);
    text-align: center;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 6px;
    box-shadow: .5rem .5rem #3f3d3f;
    margin-right: 10px;
}

#menu-button:hover {
    background-color: rgb(143, 131, 24);
}

#about-us {
    font-size: 1.2em;
    padding-left: 10%;
    padding-right: 10%;
}


/* About.html Styles */

.transparent-box {
    background: rgba(255, 255, 255, 0.6); 
    margin: 0 auto;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.fixed-image {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); 
}

/* Student_Dashbaord.html Styles */
.dashboard-section {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.dashboard-section:hover {
    transform: scale(1.05);
}

/*Signup.html Styles */

.registration_block {
    width: 70%;
    background-color: rgba(32, 32, 32, 0.8); 
    margin-top: 75px;
    padding: 20px;
    border-radius: 30px; 
    color: white; 
}

.signup ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #hero-cover-text {
        font-size: 120%;
        width: 400px;
        right: 50px;
    }

    #selling-points {
        display: flex;
    }

    #selling-points div {
        padding: 15px;
        flex-basis: 33.333%;
    }
}