{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="registration_block mx-auto">
    <div class="container mt-6 mb-5 px-lg-5">
        <h1 class="mt-5 text-center"><i class="fa-solid fa-user"></i> Update User Information</h1>
        <br>

        <form method="post" class="form-group">
            {% csrf_token %}

            <div class="card shadow-sm rounded p-4 mx-5">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="{{ form.first_name.id_for_label }}" class="fw-bold text-dark">First Name</label>
                        {{ form.first_name|add_class:"form-control form-control-lg" }}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="{{ form.last_name.id_for_label }}" class="fw-bold text-dark">Last Name</label>
                        {{ form.last_name|add_class:"form-control form-control-lg" }}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="{{ form.email.id_for_label }}" class="fw-bold text-dark">Email</label>
                        {{ form.email|add_class:"form-control form-control-lg" }}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="{{ form.password.id_for_label }}" class="fw-bold text-dark">New Password (Optional)</label>
                        {{ form.password|add_class:"form-control form-control-lg" }}
                        {% if form.password.errors %}
                            <div class="text-danger">
                                {{ form.confirm_password.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-12 mb-3">
                        <label for="{{ form.confirm_password.id_for_label }}" class="fw-bold text-dark">Confirm Password</label>
                        {{ form.confirm_password|add_class:"form-control form-control-lg" }}
                        {% if form.password.errors %}
                            <div class="text-danger">
                                {{ form.password.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <button type="submit" class="btn btn-primary w-100 fs-4">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}